.content-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}


.carousel-container {
    flex: 1; 
    max-width: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    height: 300px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-navigation label {
    background-color: #0190C8;
    border-radius: 25px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="radio"] {
    display: none;
}

#radio1:checked ~ .carousel-slide {
    transform: translateX(0%);
}

#radio2:checked ~ .carousel-slide {
    transform: translateX(-100%);
}

#radio3:checked ~ .carousel-slide {
    transform: translateX(-200%);
}

#radio4:checked ~ .carousel-slide {
    transform: translateX(-300%);
}

input[type="radio"]:checked + label {
    background-color: #fff;
}

.sidebar {
    padding : 10px 100px; 
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%; 
}

.filter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
    border-radius: 25px;
}

.filter-grid input[type="text"],
.filter-grid input[type="number"] {
    padding: 10px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px; 
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9; 
}