body {
    font-family: Arial, sans-serif;
    background-image: url('../../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;

}

.anuncios{

}
