body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../img/white-sedan-driving-highway-accross-forest.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contaCriada-container {
    background-color: rgba(217, 217, 217, 0.7); 
    color: black;
    border-radius: 15px;
    padding: 30px 30px;
    width: 400px;
    height: 150px;
    text-align: center;
    font-size: 20px;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

}   

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px; 
}