body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../img/bmw_carro_moto.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.col-3 {
    display: flex;
    gap: 30px;
}

.header {
    width: 100%;
    height: 100px;
    padding: 0 20px;
    background-color: rgba(51, 51, 51, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.botaoHeader {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    text-align: center; 
}

.botaoHeader:hover {
    background-color: #000;
    color: white; 
}


.botaoHeader:active {
    background-color: #0190C8; 
}

.botao-perfil {
    background-color: #D9D9D9; 
    color: #000;
    border: none; 
    border-radius: 25px; 
    padding: 10px 80px;
    font-size: 16px; 
    cursor: pointer; 
}

.body {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinha os botões na parte inferior */
    gap: 550px; /* Espaço entre os botões */
    padding-bottom: 40px; /* Distância entre os botões e o fim da página */
    flex-grow: 1; /* Expande o div para ocupar o espaço entre o header e os botões */
}

.botaoEscolha{
    background-color: transparent;
    color : #000; 
    border : 2px solid #000;
    border-radius: 25px; 
    padding: 10px 20px;
    font-size: 20px;
    cursor : pointer; 
    transition: background-color 0.3s, color 0.3s; 
    text-align: center;
}

.botaoEscolha:hover {
    background-color: #000;
    color: white; 
}


.botaoEscolha:active {
    background-color: #0190C8; 
}
