body{
    overflow: hidden;
}

.background-carro{
    position: absolute;
    right: 0;
    height: 100vh;
    opacity: 0.8;
}

header{
    z-index: 10;
}

 .quadrado-preto {
    width: 33vw;
    height: 500px; 
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 40px 32px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    position: relative; 
    overflow: hidden; 
}

.informacao-stand{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 60px;
}

.informacao-stand p {
    font-size: 1.1em;
}

.informacao-stand-titulo{
    align-self: start;
}

.informacao-stand-titulo h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.informacao-stand-conteudo {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.informacao-stand-conteudo .icon {
    margin-right: 10px;
}

.circulo {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 50%;
}

.circulo1 {
    width: 100px;
    height: 100px;
    bottom: 45px;
    right: 60px;
}

.circulo2 {
    width: 190px;
    height: 190px;
    bottom: -70px;
    right: -50px;
}